<?xml version="1.0" encoding="utf-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  ${logformat=[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{3\} - %m%n}
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="${logformat}"/>
    </layout>
  </appender>

	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="ipserver_appender">
		<param name="File" value="/logs/ipserver.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="${logformat}" />
		</layout>
	</appender>
        <appender class="org.apache.log4j.DailyRollingFileAppender"
                name="common_appender">
                <param name="File" value="${IPSERVER_HOME}/logs/common.log" />
                <param name="DatePattern" value="'.'yyyy-MM-dd" />
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="${logformat}" />
                </layout>
        </appender>	
 <root>
    <priority value="error" />
    <appender-ref ref="stdout" />
  </root>
  <category name="com.ifeng.common" additivity="false">
    <priority value="error" />
    <appender-ref ref="common_appender" />
  </category>
  <category name="com.ifeng.ipserver" additivity="false">
    <priority value="info" />
    <appender-ref ref="ipserver_appender" />
  </category>

</log4j:configuration>
